html {
  min-height: 100%;
}

body {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  margin: 0;
  min-height: 100%;
}

@import '~material-design-icons/iconfont/material-icons.css';


.todo-card img {
  position: absolute;
  top: 30%;
  left: -30%;
  opacity: 0.6;
}

.todo-card {
  overflow: hidden;
}

.todo-item {
  color: #1b5e20 ;
}

.todo-button { 
  color: #66bb6a;
}

.navbar {
  background-color: #2e7d32;
  opacity: 0.6;
}

.side-nav {
  
}

.side-nav-container {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}